<%- include("partials/header") %>

<div class="billing">
          <h2 style="color: white;">Specs sheet / Customer Declaration</h2>
          <form class="" action="/details" method="post">
          </form>

  </div>
    <div class="content" style="text-align: center;">
      <embed src="/report.pdf" type="application/pdf"   height="800px" width="80%">

        <a href="/thanks" role="button" class="btn btn-dark" > Confirm </a>

      <h5>Please download the specs sheet <a href="/report.pdf">download</a> Token </h5>
    </div>
  <%-include("partials/footer")%>
