<%- include("partials/header") %>
<div class="se-pre-con">

</div>
<div class="billing">
          <h2 style="color: white;">Specs sheet / Customer Declaration</h2>
          <form class="" action="/sales" method="post">
          </form>

  </div>
    <div class="content" style="text-align: center;">
      <embed src="/sales_report.pdf" type="application/pdf"   height="800px" width="80%">

        <a href="/thanks" role="button" class="btn btn-dark" > Confirm </a>

      <h5>Please download the specs sheet <a href="/sales_report.pdf">download</a> </h5>
    </div>
  <%-include("partials/footer")%>
