<%- include("partials/header") %>

<div id="cover">
  <h1>Thank You </h1>
  <h5>For trusting us. Expecting you again. Our delivery excecutive will contact you shortly. </h5>
  <a role="button" class="btn btn-dark" href="/home" name="button">Home</a>
</div>
